extend ./layouts/main.pug

include ./components/title.pug

block preheader
    | #{`Forget password`}.
block content

  h1 Hi #{userName}
  | ,
  p.fs-16 
    span Your Temporary Password is:&nbsp;
    b= tempPassword
  a(href=`${siteUrl}/forget-password/${uuid}` target="_blank") Please Click here to verify ur password.